@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Dawning+of+a+New+Day&family=Petit+Formal+Script&display=swap');

html, body {
    margin-left: 0;
    margin-right: 0;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    height: auto;
}

body { 
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

/*MGA NAKALAGAY TO DATI SA HEADER */

.header {
    margin-top: 20px;
    margin-bottom:20px;
}

#main{
    display: flex;
    width:70%;
    text-align: center;
   
}

#div_delivery {
    border-right: 1px solid #80807b34;
    text-align: left;
    padding:25px;   
}

#div_subtotal {
    text-align: left;
    padding:25px;
    width:80%;
}

#product_name{
    font-size: 13px;
}

#quantity {
    background-color:#dfbd69;
    color: white;
    font-size: 12px;
    text-align:center;
    text-transform: bold;
    width:18px;
    height:18px;
    border-radius:50%;
    z-index:1;
    position:relative;
    margin-bottom:35px;
    margin-left:-10px;
}

#p_img{
    z-index:-1;
    position:relative;
}

/* MGA BAGONG DAGDAG EHEHE */


.banner { 
    position: relative;
    margin-top: -10px;
}
    
.banner_wrapper { 
    background-color: #e2e2e2;
    color: #575756;
    max-width: auto;
    right: 0px;
    left: 0px;
}
    
.banner_text { 
    font-size: 12px;
    letter-spacing: 0.2em;
    display: block;
    padding: 7px 20px 6px;
    transition: opacity 0.75s ease;
    text-align: center;
}

.title-logoz {
    max-width: 300px;
    height: auto;
}

.submit-butt {
    padding: 14px 40px;
    background-color: #575756;
    color: white;
    border: none;
    font-style: italic;
    letter-spacing: 0.1em;
    outline: none;
    cursor: pointer;
    width: 250px;
    margin-top: 10px;
    float: right;
}

.apply-butt {
    background-color: #575756;
    color: white;
    border: none;
    font-style: italic;
    letter-spacing: 0.1em;
    outline: none;
    cursor: pointer;
    width: 80px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-left: 10px;
}

.checkout-titles {
    font-style: normal;
    letter-spacing: 0.125em;
    line-height: 1.3;
    word-break: break-word;
    text-transform: uppercase;
    color: #575756;
    font-size: 15px;
}

.checkout-opt {
    color: #575756;
    font-size: 13px;
}

.checkout-names {
    color:#575756;
    width: 220px;
    padding-right: 20px;
}

.checkout-price {
    color:#575756;
    font-weight: bold;
}

.checkout-textbox {
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
    word-break: break-word;
    color: #575756;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;

    border: 1px transparent solid;
    background-clip: padding-box;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.9285714286em 0.7857142857em;
    outline-color: #dfbd69;
    margin-bottom: 15px;
    border-color: rgba(0,0,0,0.15);
}

.space {
    height:20px;
}

.big-section {
    height: 100px;
}

.checkout-hr {
    height: 1px; 
    background-color: #80807b34;
    border-width:0;
}

.white-bg {
    width: 420px;
    height:auto;
    padding: 15px 15px 15px 15px;
    background-color: #fff;
    border: 1px transparent solid;
    border-radius: 5px 5px 0 0;
    border-color: rgba(0,0,0,0.15);
    
}

.white-bg-2 {
    width: 420px;
    height:auto;
    padding: 15px 15px 15px 15px;
    background-color: #fff;
    border: 1px transparent solid;
    border-radius: 0 0 5px 5px;
    border-color: rgba(0,0,0,0.15);
    
}

.white-bg-3 {
    width: 420px;
    height:auto;
    padding: 15px 15px 15px 15px;
    background-color: #fff;
    border: 1px transparent solid;
    border-radius: 5px 5px 5px 5px;
    border-color: rgba(0,0,0,0.15);
    
}

#fas-icons{
    font-size: 16px;
    color: #575756;
    margin-left: 15px;
    margin-right: 15px;
}

.checkout-money {
    font-size: 13;
    font-weight: bold;
    color: #575756;
    float: right;
}

.checkout-money-2 {
    font-size: 23px;
    float: right;
}